* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: #222;
    font-family: Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: 'Genericons';
    src: url('fonts/genericons-regular-webfont.woff')format('woff'), url('fonts/genericons-regular-webfont.eot')format('truetype');
}

.container {
    margin: 50px auto;
    width: 90%;
}

header h1 {
    color: #fff;
    margin-bottom: 10px;
    text-align: center;
}

.accordion {
    background: #333;
    width: 100%;
    min-width: 800px;
    display: block;
    list-style-type: none;
    overflow: hidden;
    height: 200px;
    font-size: 0;
}

.tab {
    display: inline-block;
    background-color: #444;
    border-right: #333 solid 1px;
    width: 80px;
    height: 200px;
    overflow: hidden;
    position: relative;
    margin: 0;
    transition: all 0.5s ease-in-out 0.1s;
}

.tab:hover {
    width: 450px;
}

.tab:hover .social a:before {
    margin-left: -100px;
}

.tab:hover .social a:after {
    margin-left: -5px;
}

.tab .content {
    background: #fff;
    width: 360px;
    height: 200px;
    margin-left: 80px;
    position: relative;
    padding: 50px 0 0 15px;
}

.tab .content h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.tab .content p {
    font-size: 0.80rem;
    line-height: 1.2rem;
    padding-right: 30px;
}

.social a:before,
.social a:after {
    transition: all 0.4s ease-in-out 0.1s;
    width: 80px;
    height: 200px;
    position: absolute;
    text-indent: 0;
    padding-top: 90px;
    padding-left: 25px;
    display: block;
    font: normal 30px Genericons;
    color: #fff;
}

.social a:after {
    font-size: 48px;
    padding-left: 20px;
    padding-top: 80px;
    margin-left: 85px;
}

/* Add social icons */

.youtube a:before,
.youtube a:after {
    content: '\f213'
}

.youtube a:after {
    background-color: #ff0000;
}

.twitter a:before,
.twitter a:after {
    content: '\f202'
}

.twitter a:after {
    background-color: #6dc5dd;
}

.facebook a:before,
.facebook a:after {
    content: '\f204'
}

.facebook a:after {
    background-color: #3b5998;
}

.linkedin a:before,
.linkedin a:after {
    content: '\f208'
}

.linkedin a:after {
    background-color: #00a9cd;
}

.instagram a:before,
.instagram a:after {
    content: '\f215'
}

.instagram a:after {
    background-color: #e95950;
}

.github a:before,
.github a:after {
    content: '\f200'
}

.github a:after {
    background-color: #6e5494;
}

@media(max-width: 950px) {
    .container {
        width: 70%;
    }
    .tab {
        display: block;
        width: 100%;
        border-bottom: 3px #333 solid;
    }
    .accordion {
        display: block;
        min-width: 450px;
        height: auto;
    }
    .content {
        width: 85%;
    }
    .tab:hover {
        width: 100%;
    }
}

@media(max-width: 680px) {
    .container {
        width: 95%;
    }
    .accordion {
        width: 100%;
        min-width: 350px;
    }
}